/* index.css */

:root {
  --light-green: #7dd897;
  --dark-green: #005d3e;
  --white-gold: #e8d5b7;
}

body {
  background-color: var(--light-green);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-items: center;
  margin: 0 auto;
  padding: 20px;
}

.card {
  background-color: var(--white-gold);
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  justify-content: flex-end;
  width: 200px;
  height: 300px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card h3 {
  color: var(--dark-green);
  margin-bottom: 10px;
}

.card p {
  color: var(--dark-green);
  margin: 0;
}

input[type="text"] {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid var(--dark-green);
  margin-bottom: 10px;
  font-size: 16px;
  color: var(--dark-green);
  background-color: transparent;
  transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus {
  outline: none;
  border-color: var(red);
}

input {
  position: relative;
}

input input[type="text"] {
  padding-right: 40px;
}

input .search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: var(--red);
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

input .search-icon:hover {
  color: var(red);
}

/* Webkit Effects */

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.spin-effect {
  -webkit-animation: spin 1s linear infinite;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-effect {
  -webkit-animation: fade 0.5s linear;
}
